body {
  background: linear-gradient(
    100deg,  
    rgb(64, 72, 191) 0%,
    rgb(191, 79, 64) 100%
  );
}

form {
  margin: auto;
  width: 400px;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 1rem;
}

form div+div {
  margin-top: 1rem;
}

label {
  display: inline-block;
  width: 5.625rem;
  text-align: right;
}